.fab-icon {
    position: absolute;
    background-color: var(--orange);
    border-radius: 50%;
    padding: 1rem;
    z-index: 10;
    bottom: .5rem;
    right: .5rem;
    cursor: pointer;
    color: var(--white);
    display: block;
}

.edit-recipient {
    display: none;
    right: .7rem;
    margin-bottom: 5rem;
}

.logout {
    display: none;
    right: .7rem;
    margin-bottom: 9.5rem;
}

.edit-recipient.active,
.logout.active {
    display: block;
}