* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFF;
    --black: #192428;
    --gray: #484c4f;
    --blue: #3FB1F2;
    --orange: #FF7017;
    --green: #1FB025;
    --green-text: #006304;
    --lightgreen: #81FF45;
    --red-text: #630000e0;
    --red: #F83333;
    --yellow-text: #823f00e0;
    --yellow: #FFC226;
    --meat-slot: #F52A36;
    --veg-slot: var(--green);
    --fruit-slot: #E02CB9;
    --outline: #c8939c;
    --bg: #f7f5f8;
}

html {
    font-family: 'Lato', sans-serif;
}

body {
    font-size: 62.5%;
    background-color: var(--bg);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    margin: 0;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.d-flex {
    display: flex;
    align-items: center;
}