.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.recipes-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1280px;
    margin: 20px auto 0;
    overflow: auto;
}

.see-more {
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    transition: opacity .2s;
}

.see-more:hover {
    opacity: .8;
}